.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns */
    gap: 20px; /* Space between grid items */
    width: 80%; /* Adjust as needed */
    margin: 20px 0; /* Add margins */
  }
  
  .grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
  }

  
.user-image {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%; /* Make it a circle */
    margin-bottom: 10px;
  }
  
  
  /* Add more styles as needed */